* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: url('bgg.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    width: 80%;
    max-width: 1200px;
    height: auto;
    background: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1 {
    font-size: 40px;
    color: #1C2833;
    margin-bottom: 20px;
}

p {
    font-size: 20px;
    color: #333;
    margin-bottom: 30px;
}

.work {
    background-color: white;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.work img {
    width: 50%;
    max-width: 200px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.work h5 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.work p {
    font-size: 14px;
    color: #555;
}
